<p (click)="back()">back to PRODUCTS</p>
<form [formGroup]= "addForm" (ngSubmit)= "onSubmit()">
    <h1> TO EDIT PRODUCTS</h1>
    <div class="form-group">
        <label for="id">ID :</label>
        <input type="text" class="form-control" formControlName="id" id="id" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['id'].hasError['required'] && addForm.controls['id'].touched">
            ID is reqruired
        </div>
    </div>
    <div class="form-group">
        <label for="productName">productName :</label>
        <input type="text" class="form-control" formControlName="productName" id="productName" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['productName'].hasError['required'] && addForm.controls['productName'].touched">
            productName is reqruired
        </div>
    </div>
    <div class="form-group">
        <label for="productDescription">productDescription :</label>
        <input type="text" class="form-control" formControlName="productDescription" id="productDescription" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['productDescription'].hasError['required'] && addForm.controls['productDescription'].touched">
            productDescription is reqruired
        </div>
    </div>
    <div class="form-group">
        <label for="category">category :</label>
        <input type="text" class="form-control" formControlName="category" id="category" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['category'].hasError['category'] && addForm.controls['category'].touched">
            category is reqruired
        </div>
    </div>
    <div class="form-group">
        <label for="imageAddress">imageAddress :</label>
        <input type="text" class="form-control" formControlName="imageAddress" id="imageAddress" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['imageAddress'].hasError['required'] && addForm.controls['imageAddress'].touched">
            imageAddress is reqruired
        </div>
    </div>
    <div class="form-group">
        <label for="price">price :</label>
        <input type="text" class="form-control" formControlName="price" id="price" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['price'].hasError['required'] && addForm.controls['price'].touched">
            price is reqruired
        </div>
    </div>
    <div class="form-group">
        <label for="weight">weight :</label>
        <input type="text" class="form-control" formControlName="weight" id="weight" autocomplete="off">
        <div class="error" *ngIf="addForm.controls['weight'].hasError['required'] && addForm.controls['weight'].touched">
            weight is reqruired
        </div>
    </div>
    <button class="btn btn-success" [disabled]="addForm.invalid">ADD POST</button>
    <div *ngIf="invalidLogin" class="error">Invalid post</div>
</form>
